@import "mixins";

.g-topbar {
  display: flex;
  width: 100%;
  height: $tabbar-height;
  background-color: #ffffff;
  position: absolute;
  z-index: $tabbar-z-index;
  font-size: $font-size-lagre;
  box-shadow: 0px 1px 10px 1px rgba(69,65,78,0.08);
  &-item {
    flex: 1;
    @include flex-center(column);
  }
}
